<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('navbar') %>
    <div class="content">
        <div class="image-box">
            <img src="<%=book.img_url%>" class="solo_img">
            <div>
                <form action="/remove/books/<%=book.book_id%>" method="POST">
                    <button type="submit" class="remove_button">Remove</button>
                </form>
            </div>
        </div>
        <div class="description">
            <%=book.description%>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>